// Imports
@import "colors.scss";


// Homepage

h1, ul{

	margin: 0;
	padding: 0
}


body{
	background-color: #ddd;
	max-width: 100%;
	font-family: Roboto;
	
	.strike{
		text-decoration: line-through
	}

	.fontSizeReduce{
		font-size: 70%;
	}

	.d-block{
		dislay: block;
	}

	.d-flex{
		display: flex;
	}

	// .firstHalf{
		// 	grid-column: 1 / 6;
		// }
		// .secondHalf{
			// 	grid-column: 6 / 13;
			// }

			// .fullGridColumn{
				// 	grid-column: 1 / 13;
				// }

				.wrapper{

					display: grid;
					grid-template-columns: repeat(12, 1fr);

					header{

						grid-column: 1 / 13;
						padding: 0.9375rem 1.5625rem 0.9375rem 1.5625rem;
						background-color: #fff;

						nav{
							display: flex;
							align-items: center;
							flex-wrap: wrap;

							.logo{
								flex: 0 0 100%;
								text-align:center;
								padding-bottom: 1.66rem;
							}
							.navigation {

								flex: 0 0 100%;
								ul{	
									display: flex;
									list-style-type:none;
									align-items: center;
									li{
										flex-grow: 1;
										text-align: center;

										a{
											text-decoration: none;
										}
									}
								}

							}
						}
					}


					main{

						grid-column: 1 / 13;
						background-color: $hpMainBackground;
						padding: 3.125rem 1.66rem 3.125rem 1.66rem;

						h2.headline{
							color: #fff;
							font-size: 2.5rem;
							margin: 0;
							font-weight: bold;
						}

						p.subtitle{

							font-size: 1.5rem;
							font-weight: bold;
							color: #003d5c;
						}

						.cols{
							margin-top: 4.5625rem;
							flex-direction: column;
							font-size: 1.5rem;
							color: #fff;

							p{
								padding-bottom: 1rem;
							}
						}
					}

					section.confPage{

						grid-column: 1 / 13;		
						padding: 3.125rem 1.66rem 3.125rem 1.66rem;
						background-color: #eee;

						.json{
							flex-direction: column;
						}

					}

				}
			}


			//Prices
			body{

				.wrapper{

					section.titleSection{

						justify-content: space-between;

						.operatingSystem{
							color: #fff;
							font-size: 1.5rem;
							padding: 0.125rem;
							background-color: $orangeBG;
							// border: 1px solid $orangeBG;
							// border-radius: 5px;
							// line-height: 10px;
						}

						.addVoucher{

							#form{

								display: flex;
							}
						}
					}

					section.cards{

						margin-top: 1.5rem;
						flex-direction: column;
						.card{
							padding: 0.625rem;
							ul{
								list-style-type: none;

								li{
									padding-top: 0.625rem;
								}

								margin-bottom: 1.5rem;
							}
						}
					}
				}
			}

			@media screen and (min-width: 480px){
				//HOMEPAGE
				body{
					.wrapper{
						header{
							nav{
								flex-wrap: nowrap;
								justify-content: space-between;
								.logo{

									padding-bottom: 0;
									flex-basis: 0;
									text-align: left;
								}

								.navigation{
									flex-basis: 0;
									ul{
										li{

											padding-left: 25px;
										}
									}
								}
							}
						}
						main{


							padding: 3.125rem 4.66rem 3.125rem 4.66rem;



							.cols{
								flex-direction: row;
								justify-content: space-between;

								p{
									flex: 1 1 0;
								}
							}
						}

						section.confPage{


							padding: 3.125rem 4.66rem 3.125rem 4.66rem;

							.json{
								flex-direction: row;
								justify-content: center;
							}

						}

					}
				}


				//Prices

				body{

					.wrapper{

						section.titleSection{

							justify-content: space-between;

							.operatingSystem{
								color: #fff;
								font-size: 1.5rem;
								padding: 0.125rem;
								background-color: $orangeBG;
								// border: 1px solid $orangeBG;
								// border-radius: 5px;
								// line-height: 10px;
							}

							.addVoucher{

								#form{

									display: flex;
								}
							}
						}

						section.cards{

							margin-top: 1.5rem;
							flex-direction: row;
							justify-content: space-between;
							color: #fff;
							.card{

								width: 100%;
								padding: 0.625rem;

								ul{
									list-style-type: none;
								}
							}
						}
					}
				}

			}