h1, ul { margin: 0; padding: 0; }

body { background-color: #ddd; max-width: 100%; font-family: Roboto; }
body .strike { text-decoration: line-through; }
body .fontSizeReduce { font-size: 70%; }
body .d-block { dislay: block; }
body .d-flex { display: flex; }
body .wrapper { display: grid; grid-template-columns: repeat(12, 1fr); }
body .wrapper header { grid-column: 1 / 13; padding: 0.9375rem 1.5625rem 0.9375rem 1.5625rem; background-color: #fff; }
body .wrapper header nav { display: flex; align-items: center; flex-wrap: wrap; }
body .wrapper header nav .logo { flex: 0 0 100%; text-align: center; padding-bottom: 1.66rem; }
body .wrapper header nav .navigation { flex: 0 0 100%; }
body .wrapper header nav .navigation ul { display: flex; list-style-type: none; align-items: center; }
body .wrapper header nav .navigation ul li { flex-grow: 1; text-align: center; }
body .wrapper header nav .navigation ul li a { text-decoration: none; }
body .wrapper main { grid-column: 1 / 13; background-color: #0092db; padding: 3.125rem 1.66rem 3.125rem 1.66rem; }
body .wrapper main h2.headline { color: #fff; font-size: 2.5rem; margin: 0; font-weight: bold; }
body .wrapper main p.subtitle { font-size: 1.5rem; font-weight: bold; color: #003d5c; }
body .wrapper main .cols { margin-top: 4.5625rem; flex-direction: column; font-size: 1.5rem; color: #fff; }
body .wrapper main .cols p { padding-bottom: 1rem; }
body .wrapper section.confPage { grid-column: 1 / 13; padding: 3.125rem 1.66rem 3.125rem 1.66rem; background-color: #eee; }
body .wrapper section.confPage .json { flex-direction: column; }

body .wrapper section.titleSection { justify-content: space-between; }
body .wrapper section.titleSection .operatingSystem { color: #fff; font-size: 1.5rem; padding: 0.125rem; background-color: #FFA940; }
body .wrapper section.titleSection .addVoucher #form { display: flex; }
body .wrapper section.cards { margin-top: 1.5rem; flex-direction: column; }
body .wrapper section.cards .card { padding: 0.625rem; }
body .wrapper section.cards .card ul { list-style-type: none; margin-bottom: 1.5rem; }
body .wrapper section.cards .card ul li { padding-top: 0.625rem; }

@media screen and (min-width: 480px) { body .wrapper header nav { flex-wrap: nowrap; justify-content: space-between; }
  body .wrapper header nav .logo { padding-bottom: 0; flex-basis: 0; text-align: left; }
  body .wrapper header nav .navigation { flex-basis: 0; }
  body .wrapper header nav .navigation ul li { padding-left: 25px; }
  body .wrapper main { padding: 3.125rem 4.66rem 3.125rem 4.66rem; }
  body .wrapper main .cols { flex-direction: row; justify-content: space-between; }
  body .wrapper main .cols p { flex: 1 1 0; }
  body .wrapper section.confPage { padding: 3.125rem 4.66rem 3.125rem 4.66rem; }
  body .wrapper section.confPage .json { flex-direction: row; justify-content: center; }
  body .wrapper section.titleSection { justify-content: space-between; }
  body .wrapper section.titleSection .operatingSystem { color: #fff; font-size: 1.5rem; padding: 0.125rem; background-color: #FFA940; }
  body .wrapper section.titleSection .addVoucher #form { display: flex; }
  body .wrapper section.cards { margin-top: 1.5rem; flex-direction: row; justify-content: space-between; color: #fff; }
  body .wrapper section.cards .card { width: 100%; padding: 0.625rem; }
  body .wrapper section.cards .card ul { list-style-type: none; } }

/*# sourceMappingURL=style.css.map */
