<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
	<link rel="stylesheet" href="assets/CSS/normalize.css">
	<link rel="stylesheet" href="assets/CSS/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% endblock %}
</head>
<body>
	<div class="wrapper">

		{% include "header.html.twig" %}

		{% block body %}
		
		{% endblock %}

		{% include "footer.html.twig" %}

		{% block javascripts %}
			<script src="assets/js/checkVoucher.js"></script>
		{% endblock %}
	</div>
</body>
</html>
