{% extends "base.html.twig" %}

{% block body %} 

	<section class="confPage">
		
		<div class="d-block">
			<strong>Client Locale: </strong> {{ clientLocale }}
		</div>

		<div class="d-block">
			<strong>Browser: </strong>{{userAgent.browser}} {{userAgent.version}}</br>
			<strong>Device Type: </strong>{{userAgent.device_type}}
		</div>

	<div class="fullGridColumn">

		<strong>Ip: </strong>{{location.ip}}</br>
		<strong>Continent: </strong>{{location.continent_name}}</br>
		<strong>Country: </strong>{{location.country_name}}</br>
		<strong>City: </strong>{{location.city}}</br>

	</div>

	<hr>

	<div class="json d-flex">
		<div>
			<strong>Vouchers JSON: </strong>
			<pre>
				{{vouchersJSON | raw}}
			</pre>
		</div>

		<div>
			<strong>Apps JSON: </strong>
			<pre>
				{{appsJSON | raw}} 
			</pre>
		</div>
	</div>


</section>
{% endblock %}