{%block header%}
	<header>
		<nav>
			<div class="logo"><h1>Logo</h1></div>
			<div class="navigation">
				<ul>
					<li><a href="/index.php">Home</a></li>
					<li><a href="prices">Prices</a></li>
					<li><a href="conf">Conf</a></li>
				</ul>
			</div>
		</nav>
	</header>
 {% endblock%}
 