{% extends "base.html.twig" %}

{% block body%}

	{# {% include "header.html.twig" %} #}
	
		<main>
			
			<h2 class="headline d-block">My App</h2>

			<p class="subtitle d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		
		<div class="cols d-flex">
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae.</p>

		</div>
		</main>
		
	{% include "footer.html.twig" %}

 {% endblock %}