{% extends "base.html.twig" %}

{% block body %} 
	<main>

		<section class="d-flex titleSection">

			<div class="operatingSystem">
				{{ SO | capitalize}}
			</div>

			<div class="addVoucher">
				{{render(controller(

				'App\\Controller\\PricesController::voucherInput'

				))}}
			</div>

		</section>
		
		<section class="d-flex cards">
			{% for key, plan in plans %}
				<div class="card">
					<span class="planTitle"><h2>{{key | capitalize}}</h2></span>
					{% for features in plan %}
						<ul>
							{% for feature in features %}
								<li>{{feature}}</li>
							{% endfor %}
						</ul>
					{% endfor %}
					<span class="planPrice"><span class="amount">{{plan.price}}</span>$</span>
				</div>
			{% endfor %}


		</section>
		<div id="voucherDetails"></div>
	</main>	
{% endblock %}